<template>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="container fill">
    <div id="map"></div>
  </div>
</main>
</template>
<script>
import * as L from 'leaflet';
import * as _ from 'underscore';
import * as $ from 'jquery';
import * as d3 from 'd3';
import * as c3 from 'c3';

import {
  extMap
} from '../extensions/extMap.js'
import {
  spinkit
} from '../extensions/spinkit.js';
import GrimStat from '../service/GrimStat.vue'

export default {
  mixins: [extMap],
  data() {
    return {
      properties: {
        map: undefined,
        $map: undefined,
        chartsContainer: undefined,
        position: undefined,
        tiles: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        tileLayer: undefined,
        geoJsons: [],
        geoJsonLayers: [],
        currentGeoJsonLayer: 0
      }
    };
  },
  mounted() {
    this.init('map', '[data-model="charts"]');
  },
  methods: {
    init(mapContainer, chartsContainer) {
      let self = this;

      self.properties.$map = $('#' + mapContainer);
      self.properties.chartsContainer = $(chartsContainer);

      // specify the path to the leaflet images folder
      L.Icon.Default.imagePath = 'node_modules/leaflet/dist/images/';

      // initialize the map
      self.properties.map = L.map(mapContainer, {
        scrollWheelZoom: true
      });

      // create a tileLayer with the tiles, attribution
      self.properties.tileLayer = L.tileLayer(self.properties.tiles, {
        maxZoom: 18
      });

      // add the tile layer to the map
      self.properties.tileLayer.addTo(self.properties.map);

      // init Extensions.
      self.setMaps(self.properties);

      self.addCurrentPositionMarker(true);

      self.properties.map.on('mouseup', function() {
        let bounds = self.properties.map.getBounds();
        if (self.properties.bounds !== bounds) {
          self.properties.bounds = bounds;
        }
      });
    },
    addCurrentPositionMarker(first) {
      let self = this;
      this.getPosition().then(function(position) {
        if (self.properties.position !== position) {
          if (self.properties.currentPositionMarker !== undefined) {
            self.removeCurrentPositionMarker();
          }
          self.properties.position = position;
          self.properties.currentPositionMarker = L.marker([self.properties.position.coords.latitude, self.properties.position.coords.longitude]).addTo(self.properties.map);

          if (first) {
            // RMKS : coords Montreal
            self.properties.map.setView([45.480957, -73.561707], 10);

            let bounds = self.properties.map.getBounds();
            if (self.properties.bounds !== bounds) {
              self.properties.bounds = bounds;
            }
          } else {
            self.properties.map.setView([self.properties.position.coords.latitude, self.properties.position.coords.longitude],
              self.properties.map.getZoom(), {
                "animate": true,
                "pan": {
                  "duration": 0.5
                }
              }
            );
          }
        }
      });
    },
    removeCurrentPositionMarker() {
      this.properties.map.removeLayer(this.properties.currentPositionMarker);
    },
    onEachFeatureClosure(curScope) {
      return function onEachFeature(feature, layer) {

        layer.on({
          mouseover: function(e) {
            this.highlightFeature(e);
          },
          mouseout: function(e) {
            this.properties.geoJsonLayers[this.properties.currentGeoJsonLayer].resetStyle(e.target);
          },
          click: function() {
            this.clickEvent(feature, layer);
          }
        });
      };
    },
    clickEvent(feature, layer) {
      console.log(feature.properties);
      if (feature.properties.NOM !== undefined) {
        // TODO : real data ...
        let ramdomInt = function(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        };

        this.properties.chartsContainer.find('*').hide();
        this.properties.chartsContainer.find('[data-model="zone"]').text(feature.properties.NOM);
        let $container = $('body');
        this.addLoader($container);

        $('html, body').animate({
          scrollTop: this.properties.chartsContainer.offset().top + 200
        }, 'slow');

        setTimeout(function() {
          let chart0 = c3.generate({
            bindto: '[data-model="sub-chart-0"]',
            data: {
              columns: [
                ['data', ramdomInt(0, 100)]
              ],
              type: 'gauge'
            },
            color: {
              pattern: ['#60B044', '#F6C600', '#F97600', '#FF0000'], // the three color levels for the percentage values.
              threshold: {
                values: [30, 60, 90, 100]
              }
            },
            size: {
              height: 180
            }
          });

          for (let i = 1; i < 5; i++) {
            let chart = c3.generate({
              bindto: '[data-model="sub-chart-' + i + '"]',
              transition: {
                duration: 200
              },
              data: {
                columns: [
                  ['data1', ramdomInt(0, 400), ramdomInt(0, 400), ramdomInt(0, 400), ramdomInt(0, 400), ramdomInt(0, 400), ramdomInt(0, 400)],
                  ['data2', ramdomInt(0, 50), ramdomInt(0, 50), ramdomInt(0, 50), ramdomInt(0, 50), ramdomInt(0, 50), ramdomInt(0, 50)]
                ],
                axes: {
                  data1: 'y',
                  data2: 'y2',
                }
              },
              axis: {
                x: {
                  label: 'X Label'
                },
                y: {
                  label: {
                    text: 'Y Axis Label',
                    position: 'outer-middle'
                  }
                },
                y2: {
                  show: true,
                  label: {
                    text: 'Y2 Axis Label',
                    position: 'outer-middle'
                  }
                }
              }
            });
          };

          this.removeLoader($container);
          this.properties.chartsContainer.find('*').show();
        }, ramdomInt(1000, 2000));
      }
    },
    highlightFeature(e) {
      let layer = e.target;

      layer.setStyle({
        weight: 5,
        color: '#666',
        dashArray: '',
        fillOpacity: 0.7
      });

      if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
      }
    },
    localizeMeClickEvent(e) {
      this.addCurrentPositionMarker();
    },
    addFilter(thisObj, toBeAdd) {
      if (toBeAdd) {
        GrimStat.getGrim(thisObj[0].dataset.id, this, thisObj[0].dataset.color);
      } else {
        this.properties.map.eachLayer(function(layer) {
          if (layer.datasetId === thisObj[0].dataset.id) {
            layer.remove();
          }
        });
      }
    },
    removeObjectOnMap(id) {
      for (var i = 0; i <= markers.length; i++) {
        if (markers[i] && markers[i].options.id == id) {
          this.properties.map.removeLayer(markers[i]);
        }
      }

    },
    addBorough(toBeAdd) {
      // if (toBeAdd) {
      //   // Geo
      //   this.properties.getGeoJson("http://donnees.ville.montreal.qc.ca/dataset/00bd85eb-23aa-4669-8f1b-ba9a000e3dd8/resource/e9b0f927-8f75-458c-8fda-b5da65cc8b73/download/limadmin.json").then(function(geoJson) {
      //     this.properties.geoJsons.push(geoJson);
      //     let layer = L.geoJson(geoJson, {
      //       onEachFeature: this.onEachFeatureClosure(this),
      //       style: {
      //         "color": '#000',
      //         "weight": 2,
      //         "opacity": 0.3
      //       }
      //     });
      //     layer.datasetId = "borough";
      //     this.properties.geoJsonLayers.push(layer);
      //     this.properties.currentGeoJsonLayer = this.properties.geoJsonLayers.length - 1;
      //     _.last(this.properties.geoJsonLayers).addTo(this.properties.map);
      //   });
      // } else {
      //   this.properties.map.eachLayer(function(layer) {
      //     if (layer.datasetId === "borough") {
      //       layer.remove();
      //     }
      //   });
      // }
    }
  }
};
</script>
