<template>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img class="georisk-logo" width="100" src="images/logo.png" alt="GeoRisk logo"/></a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" data-action="localizeMe" href="#">Localisez moi</a>
      </li>
    </ul>
  </nav>
</template>
