<template>


<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div data-model="charts" class="container">
    <h2 data-model="zone"></h2>
    <div class="container">
        <h3>Risque</h3>
        <div class="row" data-model="sub-chart-0"></div>
    </div>
    <div class="container">
        <h3>Feu</h3>
        <div class="row" data-model="sub-chart-1"></div>
    </div>
    <div class="container">
        <h3>Accidents routiers</h3>
        <div class="row" data-model="sub-chart-2"></div>
    </div>
    <div class="container">
        <h3>Météo</h3>
        <div class="row" data-model="sub-chart-3"></div>
    </div>
    <div class="container">
        <h3>Inondations</h3>
        <div class="row" data-model="sub-chart-4"></div>
    </div>
  </div>
</div>
</template>
