<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>/favicon.ico">
    <title>GeoRisk</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
