<template>
<div>
  <app-nav></app-nav>
  <div class="row">
    <app-filter-section></app-filter-section>
    <app-map></app-map>
    <!-- <app-result-content></app-result-content> -->
  </div>
</div>
</template>
<script>
import Nav from "./landingPage/Nav.vue";
import FilterSection from "./landingPage/Filter.vue";
import Map from "./landingPage/Map.vue";
// import ResultContent from "./landingPage/ResultContent.vue";
export default {
  components: {
    appNav: Nav,
    appFilterSection: FilterSection,
    appMap:Map,
    // appResultContent: ResultContent
  }
}
</script>
