<template>
    <div class="login-container full-width-form">
        <form>
            <h2 class="text-center">Forgotten Password</h2>
            <p class="explanation mt-30">
                To reset your password enter your email and press send. An email with a link to a reset page will be sent to your mailbox.
            </p>
            <div class="form-group mt-30">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>  
            <div class="mt-30">
                <button type="submit" class="btn btn-primary" style="width:100%">Send</button>
            </div>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
