<template>
    <div class="login-container full-width-form">
        <form>
            <h2 class="text-center">Reset password</h2>
                <div class="form-group mt-30">
                    <label for="password">New password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group mt-30">
                    <label for="password">Confirm password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary" style="width:100%">Reset</button>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
